// ./index.shared.scss already included here by Vite config
@use './lib/index';

/*

Fonts

*/
@include import-font('Lato', '@/assets/fonts/Lato-Regular', $fw-regular);
@include import-font('Lato', '@/assets/fonts/Lato-Bold', $fw-bold);
@include import-font('Lato', '@/assets/fonts/Lato-Light', $fw-light);

/*

Text styles

*/

@layer base {
  .AppTitle-1 {
    @include font($ff-lato, 20, auto, $fw-bold);
  }

  .AppTitle-2 {
    @include font($ff-lato, 35, auto, $fw-bold);
  }

  .AppSubtitle-1 {
    @include font($ff-lato, 22, auto, $fw-bold);
  }

  .AppText-1 {
    @include font($ff-lato, 16, auto, $fw-regular);
  }

  .AppText-2 {
    @include font($ff-lato, 14, auto, $fw-light);
  }

  .AppText-3 {
    @include font($ff-lato, 14, auto, $fw-bold);
  }
}

/*

Main

*/
@layer base {
  :root {
    --app-black: #{$app-black};
    --app-dark-grey: #{$app-dark-grey};
    --app-medium-grey: #{$app-medium-grey};
  }
}
