@use './lib/variables.scss' as *;
@use './lib/main/to-rem.scss' as *;

@forward './lib/variables';

/*

Sizes

*/
$app-aside-width: min(300px, toRem(300));
$app-layout-padding: toRem(30);

/*

Colors

*/
$app-black: #070a0d;
$app-dark-grey: #13181F;
$app-medium-grey: #353d47;
$app-light-grey: #a0a0a0;

$body-color: $app-black;
$text-color: $white;

$app-gradient-bottom: linear-gradient(to bottom, $app-medium-grey 0%, $app-medium-grey 50%, rgba($app-medium-grey, 0));
$app-gradient-right: linear-gradient(to right, $app-medium-grey 0%, $app-medium-grey 50%, rgba($app-medium-grey, 0));

/*

Grid

*/

$columns: 12;

/*

Texts

*/
$ff-lato: 'Lato', $default-sans-serif-font-family;
$default-font: $ff-lato;
